---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {% assign categories = site.tils | group_by: 'category' %}
  {% for group in categories %}
  <h2>{{group.name}}</h2>
  {% for item in group.items %}
  <h3>{{item.title}}</h3>
  <p>{{ item.content | markdownify }}</p>
  <p class="post-date">{{ item.tags }}</p>
  {% endfor %}
  {% endfor %}
</div>
