<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <link href="http://gmpg.org/xfn/11" rel="profile">

  <title>
    {% if page.title %}{{ page.title }} &middot; {% endif %}
    {{ site.tagline }}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="/assets/css/hyde.css">
  <link rel="stylesheet" href="/assets/css/syntax.css">
  <link rel="stylesheet" href="/assets/css/custom.css">
  <link rel="stylesheet"
    href="http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,700|Abril+Fatface">

  <script src="/assets/js/code.js"></script>
  <script src="https://kit.fontawesome.com/697f70ed8f.js" crossorigin="anonymous"></script>

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/assets/favicon.png">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">

  <!-- Open Graph Type Stuff -->
  <meta property="og:site_name" content="featureenvy">
  <meta property="og:type" content="article">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@featureenvy">
  <meta name="twitter:creator" content="@featureenvy">
  {% if page.title %}
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.content | strip_html | xml_escape | truncate: 200 }}">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.content | strip_html | xml_escape | truncate: 200 }}">
  {% else %}
  <meta property="og:title" content="featureenvy">
  <meta property="og:description" content="The blog of a thinkerer.">
  <meta name="twitter:title" content="featureenvy">
  <meta name="twitter:description" content="The blog of a thinkerer.">
  {% endif %}

</head>
