blockquote p {
  margin-bottom: 15px;
  text-indent: 0;
}

.masthead h1 {
  padding: 20px;
}

.masthead h1 {
  transform: translateX(-100%) rotate(-90deg);
  transform-origin: right top;
  position: absolute;
  font-size: 30px;
}

.masthead-inner {
  padding-left: 80px;
}

@media (min-width: 990px) {
  .masthead h1 {
    font-size: 60px;
  }

  .container {
    margin-left: 30%;
  }
}

aside, .aside {
  font-size: 14px;
  color: #868279;
  display: block;
}

@media (max-width: 989px) {
  aside, .aside {
    padding: 10px 10px;
    background: #faf8f5;
    border: solid 1px #f7f4ed;
    border-bottom: solid 1px #f0e9db;
    border-radius: 3px;
  }
}

@media (min-width: 990px) {
  aside, .aside {
    position: absolute;
    margin-left: 57%;
    width: 10%;
    margin-top: -1.5em;
  }
}

sidebarblock, .sidebarblock {
  font-size: 14px;
  color: #868279;
  display: block;
}
.sidebarblock .content {
  padding: 0px
}

@media (max-width: 989px) {
  sidebarblock, .sidebarblock {
    padding: 10px 10px;
    background: #faf8f5;
    border: solid 1px #f7f4ed;
    border-bottom: solid 1px #f0e9db;
    border-radius: 3px;
  }
}

@media (min-width: 990px) {
  sidebarblock, .sidebarblock {
    position: absolute;
    margin-left: 57%;
    width: 10%;
    margin-top: -1.5em;
  }
}

/* Code Display */
pre.highlight {
  white-space: pre;
  overflow-x: auto;
}

/* Listing Header */
.listing-header {
  background-color: #f1f1f1;
  color: #868279;
  font-size: 0.8em; 
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.listing-header .code-selected {
  background-color: #e2e2e2;
  font-weight: bold;
}

.listing-header span {
  padding: 0.5em 1em 0.5em 1em;
  cursor: pointer;
}

.listing-header  span.code-selected {
  color: #454441;
}

/* Info Notes */
.fe-note {
  float: left;
  width: 1.5em;
  font-size: 2em;
  color: #ac4142;
  
  padding-top: 0.2em;
  padding-left: 0.2em;
}

.fe-note:before {
  content: '\f05a';
}

/* Code Tabs */
.code-tabs .code-listing {
  display: none;
}

.code-tabs .code-listing.code-selected {
  display: inherit;
}

/* Animation Lists */
.animation-list {
  position: relative;
}

.animation-list .animation-item {
  position: absolute;
  visibility: hidden;

  height: 100%;
  width: 100%;
  background-color: #f9f9f9;
}

/* This makes the .animation-list container the height of the last .animation-item.
   aka assumes that the last item is the longest. */
.animation-list .animation-item:last-child {
  position: relative;
}

.animation-list .animation-item.animation-selected {
  visibility: visible;
}
