<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

{% include head.html %}

<body class="theme-base-08">

  <header class="masthead">
    <h1>{{ site.title }}</h1>
    <div class="masthead-inner">
      <p class="lead">{{ site.description }}</p>

      <div class="colophon">
        <ul class="colophon-links">
          <li>
            <a href="https://gitlab.com/featureenvy">GitLab</a>
          <li>
            <a href="/feed.xml">RSS Feed</a>
          </li>
        </ul>
        <p>{{ site.author.name }} All rights reserved.</p>
      </div>
    </div>
  </header>

  <div class="content container">
    {{ content }}
  </div>

</body>

</html>
